<div style="float:right;">

  <a class="btn btn-success" routerLink="/crear-articulo" routerLinkActive="router-link-active"><i class="bi bi-plus-circle" ></i> Nuevo articulo</a>

  </div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>CodArticulo</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio/unidad</th>
      <th>Unidades en stock</th>
      <th>Stock de seguridad</th>
      <th>Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of articulo;let i=index">
      <td>{{item.codArticulo}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.descripcion}}</td>
      <td>{{item.precioPorUnidad}}</td>
      <td>{{item.stock}}</td>
      <td>{{item.stockSeguridad}}</td>
      <td><img style="width:100px;" src="{{item.imagen}}"></td>
      <td>
        <div class="btn-group">
        <button class="btn btn-primary btn-sm m-1" [routerLink]="['/ver-articulo',item.codArticulo]"  ><i class="bi bi-search"></i></button>
        <button class="btn btn-info btn-sm m-1" [routerLink]="['/editar-articulo',item.codArticulo]"  ><i class="bi bi-pencil"></i></button>
        <a class="btn btn-danger btn-sm m-1" (click)="borrarArticulo(item.codArticulo)"><i class="bi bi-trash"></i></a>
      </div>
      </td>
    </tr>
  </tbody>
</table>

