<div style="float:right;">
  <a class="btn btn-success" routerLink="/crear-cliente" routerLinkActive="router-link-active" ><i class="bi bi-plus-circle" ></i> Nuevo cliente</a>
</div>
<table table  class="table table-hover">
  <thead>
    <tr>
      <th>Código de Cliente</th>
      <th>Nombre</th>
      <th>Empresa</th>
      <th>Puesto</th>
      <th>Código Postal</th>
      <th>Provincia</th>
      <th>Teléfono</th>
      <th>Fecha de nacimiento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes;let i=index" >
      <td>{{cliente.codCliente}}</td>
      <td>{{cliente.nombre}}</td>
      <td>{{cliente.empresa}}</td>
      <td>{{cliente.puesto}}</td>
      <td>{{cliente.cp}}</td>
      <td>{{cliente.provincia}}</td>
      <td>{{cliente.telefono}}</td>
      <td>{{cliente.fechaNacimiento}}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-primary btn-sm m-1" [routerLink]="['/ver-cliente', cliente.codCliente]"><i class="bi bi-search"></i></button>
          <button class="btn btn-info btn-sm m-1" [routerLink]="['/editar-cliente', cliente.codCliente]"><i class="bi bi-pencil"></i></button>
          <button class="btn btn-danger btn-sm m-1" (click)="borrarcliente(i)"><i class="bi bi-trash"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
