<div class="container mt-2">
<div id="tabla" *ngIf="(!editar && !crear && !ver)">
  <div style="float:right;">
    <a class="btn btn-success" routerLink="crear-compra"><i class="bi bi-plus-circle" ></i> Nueva compra</a>
    </div>
<table  class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Cliente</th>
      <th>Articulo</th>
      <th>Fecha</th>
      <th>Unidades</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of comprasService;let i=index">
      <td>{{i+1}}</td>
      <td>{{item.cliente.nombre}}</td>
      <td>{{item.articulo.nombre}}</td>
      <td>{{item.fecha | date: 'dd/MM/yyyy'}}</td>
      <td>{{item.unidades}}</td>
      <td>
        <div class="btn-group">
        <button class="btn btn-primary btn-sm m-1" [routerLink]="['/ver-compra',i]"><i class="bi bi-search"></i></button>
        <a class="btn btn-info btn-sm m-1" [routerLink]="['/editar-compra',i]"><i class="bi bi-pencil"></i></a>
        <button class="btn btn-danger btn-sm m-1" (click)="borrarCompra(i)"><i class="bi bi-trash"></i></button>
      </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
<div id="crear" *ngIf="(!editar && crear && !ver)">
  <div class="form-group row">
<app-crear-compra>

</app-crear-compra>

</div>
<div class="text-center">
  <button class="btn btn-success" (click)="salir()">Salir</button>
</div>
</div>
<div id="editar" *ngIf="(editar && !crear && !ver)">

</div>
<div id="ver" *ngIf="(!editar && !crear && ver)">

</div>
</div>
