<h2>
  Datos del cliente
</h2><hr>
<div class="grid text-center">
  <div class="row justify-content-center">
<div class="card col-6 ">
  <div class="card-body">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Código del cliente: {{cliente.codCliente}}</li>
    <li class="list-group-item">Nombre del cliente: {{cliente.nombre}}</li>
    <li class="list-group-item">Empresa del clienteCliente: {{cliente.empresa}}</li>
    <li class="list-group-item">Puesto del cliente: {{cliente.puesto}}</li>
    <li class="list-group-item">Código postal del cliente: {{cliente.cp}}</li>
    <li class="list-group-item">Provincia del cliente: {{cliente.provincia}}</li>
    <li class="list-group-item">Teléfono del cliente: {{cliente.telefono}}</li>
    <li class="list-group-item">Nombre del cliente: {{cliente.nombre}}</li>
    <li class="list-group-item">Fecha de nacimiento del cliente: {{cliente.fechaNacimiento}}</li>
  </ul>
</div>
</div>
</div>
</div>
